@model IEnumerable<BookingApp.Models.RoomVM>

@{
    ViewData["Title"] = "RoomsList";
}

<h1>RoomsList</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                <a asp-action="CreateRezervation" class="btn btn-outline-success" asp-route-id="@item.Id"> Rezervation</a>
            </td>
        </tr>
}
    </tbody>
</table>
